.search-container{
    display: flex;
    width: 100%;
}

.searchBox{
    background-color: #F1F3F4;
    border-radius: 25px;
    border: none;
    padding: 15px;
    width:100%;
    background-repeat: no-repeat;
    background-position:  10px center;
    box-sizing: border-box;
}
 
.searchBox ::placeholder{
    padding-left: 200px;
    color:#999;
}
/* .search-icon
{

} */