@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
 


.navbar-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    font-family: 'Roboto', sans-serif;   
}
  
  .navbar-list {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar-item {
    background-color: #f0f0f0; 
    padding: 10px;
    margin-bottom: 5px; 
    border-radius: 25px;
    cursor: pointer;  
  }
  
  .navbar-item:hover {
    background-color: #F9E9E7;
    color: #C84031;
  }